/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body.background {
  background-color: #efd4bc;
/*  background-image: url("/images/casablanca.jpg");*/
  background-repeat: repeat-x;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
.navbar-inverse.mine {
  background-color: #690c05;
  color: #c7bec3;
}
.navbar-nav.mine {
  background-color: #310101;
}
.navbar-brand.mine {
  color: #c7bec3;
}
img.poster {
  width: 100px;
  height: 148px;
}
img.poster, img.show {
  width: 200px;
  height: 296px;
}
.box {
  border: 1px solid black;
  background-color: AliceBlue;
}
.movie-display {
  border: 1px solid black;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px black;
  background-color: AliceBlue;
}
.sm {
  font-size: .7em;
}
.thumbs-up, .thumbs-down {
  border: none;
  background: AliceBlue;
}
.navbar.mine {
  background-color: #690c05;
}
.table-header {
  margin-left: 20px;
  text-align: center;
  color: red;
}
.list-item{
  max-width: 350px;
  background-color: #dea879;
  border: 1px black solid;
}
.title{
  font-weight: bolder;
  color: #f2312a;
  font-size: 18px;
}
.list-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
table.mine {
  border-collapse: separate;
  border-spacing: 0 2em;
}
.rating {
  font-size: 26px;
}
.movie-info {
  background-color: #dea879;
}
.review-box{
  background-color: #dea879;
  max-width: 600px;
  float: left;
}

.panel.review-box {
  background-color: #dea879;
}

.panel.review-container{
  background-color: #e3dfe1;
  border: 1px solid #c7bec3;
}
.genres {
  color: red;
}
a:link {
  color: red;
}
a:visited {
  color: red;
}
/*.leaderboard {
  color: red;
}*/
.sidebar-css {
  background-color: #dea879;
}